name: SonarCloud Analysis

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run tests with coverage
        run: |
          pytest --cov=src --cov-report=xml:coverage.xml

      #Ajuste universal de caminhos do coverage
      - name: Fix coverage paths
        run: |
          sed -i 's|/home/runner/work/miniAPI/miniAPI/||g' coverage.xml
          sed -i 's|/github/workspace/||g' coverage.xml
          sed -i 's|/home/runner/work/.*/.*/||g' coverage.xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=miniApiProject
            -Dsonar.organization=jeffssampaio
            -Dsonar.python.version=3.12
            -Dsonar.sources=src
            -Dsonar.tests=tests
            -Dsonar.python.coverage.reportPaths=coverage.xml
